Source: komodoedit
#Section: contrib/editors
Section: universe/editors
#Section: editors|devel
Priority: optional
Maintainer: Solomatov A.A. <aso17@ro.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 8.5.3
Homepage: http://komodoide.com/komodo-edit/
Origin: http://komodoide.com/download/edit-linux
#Original files x86-64: http://komodoide.com/download/edit-linux64)
Vcs-Git: git://github.com/Komodo/KomodoEdit
Vcs-Browser: https://github.com/Komodo/KomodoEdit.git

Package: komodoedit
Architecture: i386
#Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Komodo Edit a free, fast and multi-language code editor
 Komodo Edit is a free text editor for dynamic programming languages.
 It was introduced in January 2007 to complement Active State's
 commercial Komodo IDE. With the release of version 4.3, Komodo Edit
 is built on top of the Open Komodo project. Many of Komodo's
 features are derived from an embedded Python interpreter.
